@import "settings";
// @import "foundation";

// Or selectively include components
@import
   "foundation/components/block-grid",
   "foundation/components/grid",
   "foundation/components/type",
   "foundation/components/tooltips";
   // Notice there is no comma on the last line

//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


// --------------------------------------
//
//	Illuminated Peoples Styles
//
// ---------------------------------------

body{
	background-color: #333;
	color: #fff;
}

#head{
	padding-top: 20px;
	padding-bottom: 20px;

	.nav{

		ul{

		float: right;

		li{
			float: right;
			list-style: none;

			a{
				padding: 10px;
				color: #fff;
			}
		}

		}

	}
}

#comingSoon{
	padding: 20px 0;
}

#images{

	background: #313131;

	.postWrap{	
		width: 20%;
		white-space: nowrap;
		float: left;

	.topContent{
		overflow: hidden;
	}

	.bottomContent{
		display: none;
	}

	}
}

//--------------------------------
//
// Utility and Helper Classes
//
// --------------------------------

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
